@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn {
    @apply px-4 bg-black text-white rounded-2xl font-bold cursor-pointer;
}

.img {
    @apply w-full h-full;
}

:root {
    --almostWhite: hsl(0, 0%, 98%);
    --mediumGray: hsl(0, 0%, 41%);
    --almostBlack: hsl(0, 42.90%, 1.40%);
}

body {
    background-color: var(--almostWhite);
}

button {
    color: var(--almostWhite);
}

h1 {
    color: var(--almostBlack)
}

p, li, .btn, .drop, .dropdown-content {
    color: var(--mediumGray)
}

.dropdown:hover::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 3rem;
    background: transparent
}

 .drop:hover, li:hover, .btn:hover {
    color: var(--almostBlack);
}

.dropdown:hover .dropdown-content, .dropdown-content:hover {
    display: block;
}

.dropdown:hover .img1 {
    display: none
}

.dropdown:hover .img2 {
    display: block
}

.dropdown-content {
    box-shadow: 0px 8px 16px 5px rgba(0,0,0,0.2);
}

#sidebar {
    background-color: var(--almostWhite);
}