---
import mobHero from "../assets/image-hero-mobile.png";
import Button from '../Components/button.astro'
---

<section class="flex flex-col w-full gap-8">
    <img loading="lazy"  class="block md:hidden size-full" src={mobHero.src} alt="hero image" />

    <div class="flex flex-col justify-center items-center gap-4">
        <h1 class="text-3xl md:text-5xl  font-black">Make remote work</h1>
        <p class ="text-center text-sm font-semibold max-w-[30rem]">
            Get your team in sync, no matter your location. Streamline
            processes, create team rituals, and watch productivity soar.
        </p>
        <Button className="!px-8 !pt-3 !pb-4 !mt-4 bg-black text-white rounded-2xl font-bold" text="Learn more" />
    </div>
</section>
